# Windows sucks
Thumbs.db
desktop.ini

# OSX sucks
.DS_Store
.Trashes
.Spotlight-V100
__MACOSX

# Linux sucks
lost+found

# IDEs suck
out/
**/.idea/workspace.xml
**/.idea/tasks.xml
**/*.iml
**/*.ipr
**/*.iws


# Editors suck
*~
*.swp
*.bak

# Gradle is cool though
.gradle/
.gradletasknamecache
bin/
build/
target/

